[submodule "libraries/lodepng"]
	path = libraries/lodepng
	url = git@github.com:lvandeve/lodepng
[submodule "src/zKeyChecker"]
	path = src/zKeyChecker
	url = git@github.com:FigmentBoy/zKeyChecker
[submodule "src/zPracticeMode"]
	path = src/zPracticeMode
	url = git@github.com:FigmentBoy/zPracticeMode
[submodule "src/zClickbot"]
	path = src/zClickbot
	url = git@github.com:FigmentBoy/zClickbot
